* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
}

.main {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.calculator {
  width: 500px;
  height: 500px;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  margin: 0 auto;
  background-color: rgb(54, 45, 44);
}

.screen {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border: 1px solid #ccc;
  background-color: #ccc;
  height: 100px;
  margin-bottom: 10px;
  padding: 5px;
  font-size: 56px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
}

button {
  border: none;
  background-color: #eee;
  padding: 10px;
  border-radius: 5px;
  font-size: 36px;
  cursor: pointer;
}

button:hover {
  background-color: #ddd;
}

.decimal {
  background-color: #ddd;
}

#clear {
  background-color: rgb(245, 89, 89);
}

#clear:hover {
  background-color: rgb(224, 83, 83);
}

.operation {
  background-color: rgb(140, 167, 253);
}

.operation:hover {
  background-color: rgb(122, 146, 223);
}

footer {
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
}

footer p {
  font-size: 22px;
}

.footer-img {
  padding: 15px;
  width: 50px;
}